@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1 .mbr-brand__name a {
  font-size: 20px;
}
#slider-6 P {
  text-align: center;
}
#slider-6 H1 {
  text-align: center;
  color: #f1f40f;
}
#slider-6 .btn {
  font-family: 'Lato', sans-serif;
}
#header3-25 H3 {
  text-align: center;
}
#header3-25 P {
  text-align: center;
}
#header2-100 H1 {
  color: #2969b0;
}
#header2-100 P {
  color: #475577;
}
#contacts1-19 STRONG {
  color: #000000;
}
#contacts1-19 P {
  color: #28324e;
}
#msg-box1-15 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-15 .mbr-article {
  color: #fff;
}
#footer1-18 P {
  color: #ffffff;
}
#msg-box4-101 .mbr-header__text {
  color: #2969b0;
}
#msg-box4-101 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-101 .mbr-article {
  color: #ffffff;
}
#msg-box4-101 .mbr-article P {
  color: #475577;
}
#menu-26 .mbr-brand__name {
  font-size: 16px;
}
#menu-26.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-26 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-26 .mbr-brand__name a {
  font-size: 20px;
}
#content5-38 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f1f40f;
}
#content5-38 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-38 .mbr-article {
  color: #fff;
}
#contacts1-34 STRONG {
  color: #000000;
}
#contacts1-34 P {
  color: #28324e;
}
#msg-box1-36 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-36 .mbr-article {
  color: #fff;
}
#footer1-37 P {
  color: #ffffff;
}
#menu-39 .mbr-brand__name {
  font-size: 16px;
}
#menu-39.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-39 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-39 .mbr-brand__name a {
  font-size: 20px;
}
#content5-40 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f1f40f;
}
#content5-40 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-40 .mbr-article {
  color: #fff;
}
#contacts1-46 STRONG {
  color: #000000;
}
#contacts1-46 P {
  color: #28324e;
}
#msg-box1-48 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-48 .mbr-article {
  color: #fff;
}
#footer1-49 P {
  color: #ffffff;
}
#menu-50 .mbr-brand__name {
  font-size: 16px;
}
#menu-50.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-50 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-50 .mbr-brand__name a {
  font-size: 20px;
}
#content5-51 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f1f40f;
}
#content5-51 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-51 .mbr-article {
  color: #fff;
}
#contacts1-57 STRONG {
  color: #000000;
}
#contacts1-57 P {
  color: #28324e;
}
#msg-box1-59 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-59 .mbr-article {
  color: #fff;
}
#footer1-60 P {
  color: #ffffff;
}
#menu-61 .mbr-brand__name {
  font-size: 16px;
}
#menu-61.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-61 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-61 .mbr-brand__name a {
  font-size: 20px;
}
#content5-62 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f1f40f;
}
#content5-62 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-62 .mbr-article {
  color: #fff;
}
#contacts1-68 STRONG {
  color: #000000;
}
#contacts1-68 P {
  color: #28324e;
}
#msg-box1-70 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-70 .mbr-article {
  color: #fff;
}
#footer1-71 P {
  color: #ffffff;
}
#menu-72 .mbr-brand__name {
  font-size: 16px;
}
#menu-72.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-72 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-72 .mbr-brand__name a {
  font-size: 20px;
}
#content5-73 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f1f40f;
}
#content5-73 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-73 .mbr-article {
  color: #fff;
}
#contacts1-79 STRONG {
  color: #000000;
}
#contacts1-79 P {
  color: #28324e;
}
#msg-box1-81 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-81 .mbr-article {
  color: #fff;
}
#footer1-82 P {
  color: #ffffff;
}
#menu-83 .mbr-brand__name {
  font-size: 16px;
}
#menu-83.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-83 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-83 .mbr-brand__name a {
  font-size: 20px;
}
#content5-84 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f1f40f;
}
#content5-84 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-84 .mbr-article {
  color: #fff;
}
#contacts1-90 STRONG {
  color: #000000;
}
#contacts1-90 P {
  color: #28324e;
}
#msg-box1-92 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-92 .mbr-article {
  color: #fff;
}
#footer1-93 P {
  color: #ffffff;
}
#menu-94 .mbr-brand__name {
  font-size: 16px;
}
#menu-94.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-94 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-94 .mbr-brand__name a {
  font-size: 20px;
}
#content5-95 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f1f40f;
}
#content5-95 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-95 .mbr-article {
  color: #fff;
}
#contacts1-101 STRONG {
  color: #000000;
}
#contacts1-101 P {
  color: #28324e;
}
#msg-box1-103 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-103 .mbr-article {
  color: #fff;
}
#footer1-104 P {
  color: #ffffff;
}
#menu-105 .mbr-brand__name {
  font-size: 16px;
}
#menu-105.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-105 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-105 .mbr-brand__name a {
  font-size: 20px;
}
#content5-106 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f1f40f;
}
#content5-106 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-106 .mbr-article {
  color: #fff;
}
#contacts1-112 STRONG {
  color: #000000;
}
#contacts1-112 P {
  color: #28324e;
}
#msg-box1-114 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-114 .mbr-article {
  color: #fff;
}
#footer1-115 P {
  color: #ffffff;
}
